ENVIRONMENT='test' # or 'dev'
AWS_ACCESS_KEY_ID=''
AWS_SECRET_ACCESS_KEY=''
AWS_S3_REGION_NAME='eu-north-1'  # or your bucket's region
AWS_STORAGE_BUCKET_NAME='resoptbucket'
# AWS_LOCATION="macbook"
# STORAGE='s3'  # or default 'local'
STORAGE='local'  # or default 'local'
OPTIMIZER_REQUEST_QUEUE_URL=https://sqs.eu-north-1.amazonaws.com/250533204381/ChrisMacOptimizerRequestQueue
OPTIMIZER_RESPONSE_QUEUE_URL=https://sqs.eu-north-1.amazonaws.com/250533204381/ChrisMacOptimizerResponseQueue
