<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gantt</title>
    <link rel="stylesheet" href="/files/gantt.css/">
</head>
<body>
    {% include "viz/gantt_canvas.html" %}

    <script src="/files/gantt-globals.js/"></script>
    <script src="/files/gantt-draw.js/"></script>
    <script src="/files/gantt-data.js/"></script>
    <script src="/files/gantt-playback.js/"></script>
    <script src="/files/gantt-interaction.js/"></script>
</body>
</html>
